---
permalink: /admin-template/forms/
title: Form & Checkbox
layout: admin-template/layouts-single-side-nav
---
<div class="sgds-container is-fluid">
    <div class="sgds-row">
        <div class="sgds-col">
            <div class="sgds-field is-horizontal">
                <div class="sgds-field-label">
                    <label class="sgds-label">Checkbox</label>
                </div>
                <div class="sgds-field-body">
                    <div class="sgds-field">
                        <div class="sgds-control">
                            <label class="sgds-checkbox">
                                <input type="checkbox">
                                Checkbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sgds-field is-horizontal">
                <div class="sgds-field-label is-small">
                    <label class="sgds-label">Small padding</label>
                </div>
                <div class="sgds-field-body">
                    <div class="sgds-field">
                        <div class="sgds-control">
                            <input class="sgds-input is-small" type="text" placeholder="Small sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sgds-field is-horizontal">
                <div class="sgds-field-label is-normal">
                    <label class="sgds-label">Normal label</label>
                </div>
                <div class="sgds-field-body">
                    <div class="sgds-field">
                        <div class="sgds-control">
                            <input class="sgds-input" type="text" placeholder="Normal sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sgds-field is-horizontal">
                <div class="sgds-field-label is-medium">
                    <label class="sgds-label">Medium label</label>
                </div>
                <div class="sgds-field-body">
                    <div class="sgds-field">
                        <div class="sgds-control">
                            <input class="sgds-input is-medium" type="text" placeholder="Medium sized input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sgds-field is-horizontal">
                <div class="sgds-field-label is-large">
                    <label class="sgds-label">Large label</label>
                </div>
                <div class="sgds-field-body">
                    <div class="sgds-field">
                        <div class="sgds-control">
                            <input class="sgds-input is-large" type="text" placeholder="Large sized input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
